asn1crypto==0.24.0
attrs==19.3.0
Automat==0.6.0
biopython==1.77
bleach==3.1.5
blinker==1.4
certifi==2018.1.18
chardet==3.0.4
click==6.7
cloud-init==19.4
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
cutadapt==2.7
cycler==0.10.0
distro-info==0.18ubuntu0.18.04.1
dnaio==0.4.2
docutils==0.16
future==0.18.2
hyperlink==17.3.1
hypothesis==5.15.1
idna==2.6
incremental==16.10.1
jeepney==0.4.3
Jinja2==2.10
joblib==0.15.1
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==21.2.1
keyrings.alt==3.4.0
kiwisolver==1.2.0
language-selector==0.1
MarkupSafe==1.0
matplotlib==3.2.1
mirge==0.1.2
more-itertools==8.3.0
netifaces==0.10.4
numpy==1.18.4
oauthlib==2.0.6
packaging==20.4
PAM==0.4.2
pandas==1.0.3
Pillow==7.1.2
pip==20.1.1
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
Pygments==2.6.1
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==2.4.7
pysam==0.15.4
pyserial==3.4
pytest==5.4.2
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.32
pytz==2020.1
pyxdg==0.25
PyYAML==3.12
readme-renderer==26.0
regex==2020.5.14
reportlab==3.5.42
requests==2.23.0
requests-toolbelt==0.9.1
requests-unixsocket==0.1.5
scikit-learn==0.23.1
scipy==1.4.1
SecretStorage==3.1.2
service-identity==16.0.0
setuptools==47.1.0
six==1.15.0
sortedcontainers==2.1.0
ssh-import-id==5.7
systemd-python==234
threadpoolctl==2.0.0
tqdm==4.46.0
twine==3.1.1
Twisted==17.9.0
ufw==0.36
umi-tools==1.0.1
unattended-upgrades==0.1
urllib3==1.22
wcwidth==0.1.9
webencodings==0.5.1
wheel==0.34.2
xopen==0.8.4
zope.interface==4.3.2
